* {
	margin: 0;
	padding: 0;
	font-family: serif;
	font-family: serif;
	scroll-behavior: smooth;
	text-decoration: none;

}

.wrapper {
	width: 80% !important;
	margin: auto;
}
#web {
	width: 100% !important;
	margin: 0 auto;
}
#title-product h2,h6 {
	text-align: center;
	padding-bottom: 8px;
}
#title-product h2,h6:hover {
	color: #1E9E74;
}
#frist-content {
	width: 100%;
	margin: auto;
	border: 2px solid #1E9E74;
	margin-bottom: 1em;
}
.wrapper {
    width: 80%;
    margin: auto;
}
.close-cart1
 {
	width: 4%;
	font-size: 20px;
	height: 45px;
	font-weight: bold;
	text-align: center;
	margin-top: 30px;
	position: absolute;
	top: -30px;
	right: 30px;
}
.close-cart1 a {
	border: 2px solid brown;
	color: black;
	padding: 1px 7px;
	border-radius: 50%;
}
.close-cart1 b {
    font-size: 25px;
    font-weight: bold;
    border-radius: 50%;
    border: 1px solid red;
    padding: 0px 7px;
    cursor: pointer;
}
.close-cart1 b:hover {
	border: 1px solid #ccc;
	background-color: red;
	font-weight: bold;
	color: white;
}
.close-cart {
	width: 7%;
	font-size: 20px;
	height: 45px;
	font-weight: bold;
	text-align: center;
	margin-top: 30px;
}
.close-cart a {
	border: 2px solid brown;
	color: black;
	padding: 1px 7px;
	border-radius: 50%;
}
.close-cart a:hover {
	border: 2px solid #ccc;
	background-color: red;
	text-decoration: none;
	color: wheat;
}
.number-cart a {
	padding: 5px 8px;
	border: 1px solid black;
	background-color: #ccc;
	font-weight: bold;
	color: black;
}
.number-cart input {
	padding: 1.5px;
	text-align: center;
	font-weight: bold;
}
.cart-clone table p {
	margin: 0;
}
.cart-right table {
	width: 100%;
}
.cart-left table {
	width: 100%;
	margin-bottom: 1em;
}
.cart-left tr td:nth-child(1) {
	width: 60%;
}
.cart-left tr td:nth-child(2) {
	width: 14%;
	text-align: center;
}
.cart-left tr td:nth-child(3) {
	width: 12%;
	text-align: center;
}
.cart-left tr td:nth-child(4) {
	width: 14%;
	text-align: center;
}
.cart-clone {
	width: 100%;
	display: flex;
}
.cart-left {
	width: 63%;
	padding-right: 2%;
}
.cart-right {
	padding-left: 3%;
	width: 32%;
	border-left: 1px solid #ccc;
}
#back-to-top {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	color: #1E9E74;
	font-size: 50px;
	background-color: blanchedalmond;
	position: absolute;
	top: 40%;
	right: 0;
	transform: translate(-50%,-50%);
	position: fixed;
	display: none;
	z-index: 4000;
}
#back-to-top:hover {
	background-color: white ;
	color: black;
}
#cart {
	position: relative;
}
a#tieptuc {
    padding: 4px 10px;
    color: red;
    font-weight: bold;
    border: 2px solid red;
    display: inline-block;
}

a#capnhat {
    background-color: red;
    font-weight: bold;
    color: white;
    padding: 8px 25px;
    margin-left: 1em;
}
div#title-product {
    padding: 1em 0em;
}
#cart-de {
	width: 100%;
	min-height: 100%;
}
#fullmaincart {
	width: 400px;
	min-height: 100%;
	border: 1px solid #ccc;
	float: right;
	display: none;
}
#fullcartO {
	width: 100%;
	min-height: 100%;
	margin-top: 50px;
	max-height: 464px;
	overflow: auto;
	flex-wrap: wrap;
}
.cart-top {
	width: 100%;
	display: flex;
	position: relative;
}
.cart-bottom {
	width: 100%;
}
.cart-bottom button {
    width: 47%;
    margin: -1% 1%;
    padding: 12px 8px;
    font-weight: bold;
}
.cart-top-left {

width: 28%;
}
.cart-top-right {
    width: 64%;
    padding: 2%;
    position: relative;
}

.cart-top-left img {
    width: 100%;
    padding: 10px;
}
span#closeCartC {
    position: absolute;
    left: 353px;
    font-weight: bold;
    font-size: 35px;
    cursor: pointer;
    top: -10px;
}
span#closeCartC:hover {
	color: #1E9E74;
}
.infosss {
    color: darkgreen;
}

.infosss span {
    line-height: 25px;
}
@keyframes anis {
  from {right:-400px;}
  to {right:0}
}
#ani {
	animation-name: anis;
	animation-duration: 3s;
}
#fullcartO::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #ccc;
}

#fullcartO::-webkit-scrollbar
{
	width: 8px;
	background-color: #ccc;
}

#fullcartO::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #ccc;
}
