* {
	margin: 0;
	padding: 0;
	font-family: serif;
	scroll-behavior: smooth;
}
.wrapper {
	width: 80%;
	margin: auto;
}
#web {
	width: 100%;
	margin: 0 auto;
}
.wrapper {
    width: 80%;
    margin: auto;
}
.profile-acc {
    width: 100%;
	display: flex;
	padding: 1em;
	margin-bottom: 2em;
}
.profile-left {
    width: 20%;
}
.profile-left-head {
    width: 100%;
    display: flex;
    padding-left: 10px;
    margin-bottom: 1em;
}
.profile-left-header-left {
    width: 30%;
}
.profile-left-header-left img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.profile-left-header-right a:hover {
    text-decoration: none;
    color: #1E9E74;
}
.profile-left-header-right {
    width: 75%;
}
.profile-left-header-right b {
    color: black;
}
.profile-left-header-right i {
    color: #ccc;
    font-size: 16px;
}
.profile-left-body ul {
    list-style-type: none;
}
.profile-left-body ul li {
    padding: 4px;
}
.profile-left-body ul li i {
    font-size: 25px;
    padding-right: 0.3em;
}
.profile-left-body-right {
    padding-left: 2em;
    margin: 0.4em 0em;
}
.profile-left-body ul li a {
    color: black;
}
.profile-left-body ul li a:hover {
    color: #1E9E74;
    text-decoration: none;
}
.profile-left-body ul li .profile-left-body-right li {
	cursor: pointer;
}
.profile-left-body ul li .profile-left-body-right li:hover {
	color: #1E9E74;
}
#loading-product {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: none;
}
#loading-product1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: none;
	z-index: 1000;
}
.icon-width tr td:nth-child(1) {
	width: 40px;
	text-align: center;
}
#get-two-profile-one {
	width: 80%;
	display: block;
}
.get-two-profile {
	width: 100%;
	display: flex;
}
.profile-middle {
    width: 75%;
    padding: 0px 20px 20px 20px;
}
.change-profile form table{
    width: 90%;
    margin: auto;
}
.change-profile form table tr{
    width: 100%;
    height: 50px;
}
.change-profile form table tr td :only-child(1) {
	margin-right: 1em;
}
.cellspacing {
	text-align: right;
	padding-right: 20px;
}
.profile-input {
	width: 100%;
	padding: 8px;
}
.profile-radio select{
	padding: 6px 16px;
	border: none;
}
.save-profile {
	padding: 8px 20px;
	background-color: #1E9E74;
	color: white;
	border: none;
	margin: 1em 20em;
}
.profile-right {
	width: 25%;
	height: auto;
	text-align: center;
	margin: 3em 0em;
}
.profile-right a {
	padding: 1em 0em;
}
.profile-right button {
	padding: 0.3em 1em;
	background: none;
	border: none;
	padding: 0.5em ;
	margin: 1em 0em;
}
.profile-right img {
	width: 100px;
	height: 100px;
	border-radius: 70px;
}
/* Hồ Sơ 
.get-two-profile {
	display: none;
}
/* End Hồ Sơ */
#bank {
	width: 80%;
	display: none;
}
.bank1 {
	width: 100%;
}
.bank1a {
	width: 100%;
	display: flex;
}
.bank1a1 {
	width: 75%;
}
.bank1a2 {
	width: 25%;
}
.bank1a2 button i {
	color: white;
}
.bank1a2 button {
	width: 100%;
	padding: 8px;
	border: none;
	background-color: #1E9E74;
	color: white;
}
.bank1b {
	width: 100%;
	padding: 90px 0px;
	text-align: center;
}
.bank1b b {
	color: #ccc;
	font-style: italic;
	word-spacing: 2px;
}
#address {
	width: 100%;
	display: none;
}
.address1 {
	width: 100%;
	display: flex;
	padding: 10px;
}
.address1a {
	width: 75%;
}
.address1b {
	width: 25%;
}
.address1b button {
	width: 100%;
	padding: 10px;
	border: none;
	color: white;
	background-color: #1E9E74;
}
.address2 {
	width: 100%;
	display: flex;
	margin-bottom: 1.5em;
}
.address-table1 {
	width: 78%;
}
.address-table tr td {
	padding: 0em 1em 1em 0em;
}
.address-table tr td:nth-child(1) {
	text-align: right;
}
.address-table tr:nth-child(1) td:nth-child(2) button:nth-child(1) {
	border: none;
	background-color: #1E9E74;
	font-size: 12px;
	padding: 5px;
	color: white;
	margin: 0em 1em;
}
.address-table tr:nth-child(1) td:nth-child(2) button:nth-child(2) {
	border: 1px solid orangered;
	background-color: white;
	color: orangered;
	border-radius: 10px;
	font-size: 12px;
	padding: 5px;
}
.address-right {
	width: 22%;
}
.address-right button:nth-child(1) {
	border: none;
	background-color: white;
	float: right;
	margin-left: 1em;
	font-size: 18px;
}
.address-right button:nth-child(2) {
	border: none;
	background-color: white;
	float: right;
	margin-left: 1em;
	font-size: 18px;
}
#last-buttton {
	width: 90%;
	background-color: white;
	padding: 8px 20px;
	border: 1px solid black;
	float: right;
	margin-top: 1.5em;
	opacity: 0.3;
}
#last-buttton1 {
	width: 90%;
	background-color: white;
	padding: 8px 20px;
	border: 1px solid black;
	float: right;
	margin-top: 1.5em;
}
#change-password {
	width: 100%;
	display: none;
}
.change-password1 b:nth-child(1) {
	font-size: 20px;
}
.change-password2 {
	width: 100%;
	margin: auto;
}
.change-password22 {
	width: 70%;
}
.change-password22 tr td {
	padding-right: 1em;
	padding-bottom: 1em;
}
.change-password22 tr td:nth-child(1) {
	text-align: right;
}
.change-password22 tr td:nth-child(2) input {
	padding: 8px;
	width: 60%;
}
#send-key {
	border: 1px solid black;
	background-color: white;
	color: black;
	padding: 9px;
	opacity: 0.3;
}
#save-pass1 {
	background-color: #1E9E74;
	border: none;
	padding: 10px 25px;
	color: white;
	font-weight: bold;
}

#frist-content {
	width: 80%;
	height: 50px;
	margin: auto;
	padding: 8px 0px;
	background-color: seashell;
	margin-bottom: 1.5em;
}