* {
	margin: 0;
	padding: 0;
	font-family: serif;
	font-family: serif;
	scroll-behavior: smooth;
}
.wrapper {
	width: 80% !important;
	margin: auto;
}
#web {
	width: 100% !important;
	margin: 0 auto;
}
.name-product:hover {
	border: 2px solid #1E9E74;
}
.buy-now {
	display: block;
	opacity: 0;
	transition: ease-in 1s;
}
.buy-now button {
	background-color: seagreen;
	width: 70%;
	margin: auto;
	padding: 10px;
	border: none;
	margin: 1em 0em;
	color: black;
	font-weight: bold;
	border-radius: 50px;
}
.buy-now button:hover {
	background-color: #1E9E74;
	color: white;
	transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.name-product:hover .view-modal-product{
	display: block;
	position: absolute;
	top: 0;
	background:	rgb(255,255,255,.2)
}
.name-product:hover .buy-now {
	opacity: 1;
}
.view-modal-product {
	width: 100%;
	height: 210px;
	display: none;
}
.view-modal-product button {
	background: none;
	border: none;
	font-size: 20px;
}
.view-modal-product i {
	position: absolute;
	left: 40%;
	top: 45%;
	padding: 12px;
	border: 1px solid cadetblue;
	color: seagreen;
}
.view-modal-product i:hover {
	color: red;
	background: cornsilk;
}

#frist-content {
	width: 80%;
	height: 50px;
	margin: auto;
	background-color: #e9ecef;
	line-height: 50px;
}
#informyweb a{
	color: #495057;
}
#informyweb a:hover {
	text-decoration: none;
	color: #1E9E74;
}
.wrapper {
	width: 80%;
	margin: auto;
}
#head-product {
	padding: 20px 10px 20px 0px;
}
.all-product {
	width: 100%;
	display: flex;
}
.filter-product {
	width: 20%;
}
.right-product {
	width: 80%;
	padding: 0px 1.5%;
}
.head-name-product {
	background-color: #1E9E74;
	color: white;
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding: 0px 16px;
	border-radius: 10px;
}
#loctimsp {
	padding-left: 20px;
}
#loctimsp ul li {
	list-style-type: none;
	display: inline-table;
	padding: 0px 8px;
	font-weight: bold;
}
#loctimsp ul li:hover {
	color: #1E9E74;

}
.types-product-left {
	width: 100%;
	height: 210px;
	overflow: auto;
}
.types-product-left ul li {
	list-style-type: none;
	padding: 10px 8px;
}
.types-product-left ul li:hover {
	color: #1E9E74;
}
.product {
	width: 100% !important;
	display: flex;
	justify-content: center;
	flex-wrap: nowrap !important;
}
.name-product {
	width: 25%;
	height: auto;
	text-align: center;
	position: relative;
	border: 2px solid white;
}
.name-product img {
	width: 95%;
	height: 210px;
	object-fit: contain;
}
.name-product a {
	color: black;
}
.cost b {
	color: red;
	font-size: 14px;
}
.name-product a:hover {
	color: #1E9E74;
	text-decoration: none;
}
.canyoulike {
	display: flex;
}
#back-to-top {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	color: #1E9E74;
	font-size: 50px;
	background-color: blanchedalmond;
	position: absolute;
	top: 40%;
	right: 0;
	transform: translate(-50%,-50%);
	position: fixed;
	display: none;
	z-index: 4000;
}
#back-to-top:hover {
	background-color: white ;
	color: black;
}
#cart {
	position: relative;
}
#start-paid {
	width: 100%;
	color: white;
	font-size: 17px;
	padding: 10px;
	border: none;
	background-color: #1E9E74;
	border: 1px solid #1E9E74;
	border-radius: 8px;
}
#start-paid:hover {
	border: 1px solid #1E9E74;
	color: #1E9E74;
	background-color: white;
}
#cart:hover #hover-product-added {
	display: block;
}