
#back-to-top:hover {
	background-color: white ;
	color: black;
}
#modal-contact-one {
	width: 15%;
	text-align: center;
	position: absolute;
	bottom: 0;
	right: 0;
	position: fixed;
	z-index: 300;
	display: none;
}
#modal-contact-one img {
	width: 100%;
}
#modal-contact-one button {
	border: none;
	background-color: red;
	padding: 8px;
	color: aliceblue;
	font-weight: bold;
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#modal-contact-one button i {
	font-size: 10px;
	color: greenyellow;
}
#close-contact {
	position: absolute;
	top: -20px;
	right: 0;
}
#close-contact i {
	width: 25px;
	height: 25px;
	font-size: 25px;
	background-color: honeydew;
	border-radius: 25px;
}
#close-contact i:hover {
	color: red;
}
#full-modal-contact-two {
	width: 25%;
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: white;
	display: none;
	position: fixed;
	z-index: 500;
}
#modal-contact-two {
	width: 100%;
}
#modal-contact-two1 {
	width: 100%;
	background-color: red;
	color: honeydew;
	padding-top: 1em;
	font-weight: bold;
	padding-left: 0.7em;
	padding-bottom: 0.5em;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	box-shadow: violet;
}
#modal-contact-two2 {
	width: 100%;
	background-color: white;
	text-align: center;
	margin-bottom: 1em;
	z-index: 400;
}
#form-contact-modal {
	width: 90%;
	margin: auto;
	margin-top: 1em;
	border: 1px solid #E6E6FA;
	padding: 1em 0em;
	position: relative;
}
.input-modal-contact {
	width: 90%;
	padding: 10px;
	text-align: left;
	margin-bottom: 1em;
	border-radius: 10px;
	border: 3px solid #ccc;
}
#button-modal-contact {
	width: 80%;
	height: 55px;
	display: inline-flex;
	margin: auto;
}
#button-modal-contact1 {
	width: 40%;
	height: 100%;
	border: none;
	background-color: #ccc;
	font-weight: bold;
	color: white;
	border-radius: 10px;
}
#button-modal-contact2 {
	width: 50%;
	height: 100%;
	border: none;
	background-color: red;
	font-weight: bold;
	color: white;
	margin-left: 7%;
	border-radius: 10px;
}
#close-contact1 {
	position: absolute;
	top: 0px;
	right: 0;
}
#close-contact1 i {
	width: 25px;
	height: 25px;
	font-size: 25px;
	border-radius: 25px;
	color: rgb(236, 221, 221);
}
#close-contact1 i:hover {
	color: white;
}

#place-writing {
	width: 100%;
	position: relative;
}
#place-writing input {
	width: 100%;
	padding: 8px;
}
#place-writing1 {
	position: absolute;
	right: 10px;
	top: 10px;
}
#place-writing1 i {
	font-size: 20px;
	opacity: 0.5;
}
#warn1 {
	position: absolute;
	right: 30px;
	top: 35px;
	color: red;
	display: none;
}
#warn2 {
	position: absolute;
	right: 30px;
	top: 100px;
	color: red;
	display: none;
}

/* */
#fullmess {
	width: 25%;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: white;
	z-index: 700;
	display: none;
	position: fixed;
}
#mess {
	width: 100%;
}
#mess1 {
	width: 100%;
	background-color: red;
	color: white;
}
#mess1a {
	width: 80%;
	padding-left: 1em;
}
#mess1b {
	width: 20%;
	text-align: right;
}
#mess1b i {
	padding-right: 8px;
	
}
#mess1c {
	display: block;
	padding-bottom: 1em;
	padding-left: 1em;
}
#mess2 {
	width: 100%;
	height: 250px;
	position: relative;
}
#mess2a {
	position: absolute;
	bottom: 70px;
	display: flex;
}
#mess2a img {
	width: 30px;
	height: 30px;
	border-radius: 30px;
}
#mess2a1 {
	position: absolute;
	bottom: 0;
}
#mess2a1 img {
	width: 30px;
	height: 30px;
	border-radius: 30px;
}
#wave {
	/* position:relative; */
	/* margin-top:50vh; */
	text-align:center;
	/* width:100px; */
	/* height:100px; */
	margin-left: auto;
	margin-right: auto;
	background: #ccc;
	margin-left: 6px;
	padding: 0px 8px;
	border-radius: 5px;
	}
	.dot {
		display:inline-block;
		width:5px;
		height:5px;
		border-radius:50%;
		margin-right:3px;
		background:#303131;
		animation: wave 1.3s linear infinite;
	}
	.dot:nth-child(2) {
		animation-delay: -1.1s;
	}
	.dot:nth-child(3) {
		animation-delay: -0.9s;
	}

@keyframes wave {
	0%, 60%, 100% {
		transform: initial;
	}

	30% {
		transform: translateY(-15px);
	}
}
#mess2a2 {
	float: right;
}
#mess2a2 {
	position: absolute;
	bottom: 140px;
	right: 0;
	display: flex;
}
#mess2a2 img {
	width: 30px;
	height: 30px;
	border-radius: 30px;
}
.text-mess {
	width: 100%;
	background-color: violet;
	padding: 10px 6px;
	margin-left: 5px;
	border-radius: 5px;
}
.text-mess1 {
	width: 100%;
	background-color: skyblue;
	padding: 10px 6px;
	margin-left: 5px;
	border-radius: 5px;
}